@font-face {
    font-family: OpenSansRegular;
}
body
{
    margin: 0;
    background-color:#f9f9f9 ;
}
.page
{
    width: 1060px;
    height: 950px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dbdbdb;
}
.wrapper
{
    width: 966px;
    margin: 0 auto;
    overflow: hidden;
}

header
{
    margin-bottom: 40px;
}
.logo
{
    display: block;
    width: 144px;
    height: 42px;
    margin: 50px 0 40px;
}
.menu
{
    padding:0;
    margin: 0;
    background: linear-gradient(to bottom,#5e5e5e,#424141);
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}
.menu li
{
    display: inline-block;
}
.menu li a
{
    display: inline-block;
    height: 40px;
    text-decoration: none;
    color: #fff;
    font: 14px/40px OpenSansRegular,Arial,sans-serif;
    letter-spacing: normal;
    padding: 0 25px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.menu li a:hover {
    background: linear-gradient(to bottom,#484848,#2a2a2a);
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

.left_menu
{
    float: left;
    width: 240px;
    height: 240px;
}
.left_menu ul
{
    padding: 0;
    margin: 0;
    border: 1px solid #c8c8c8;
}
.left_menu li
{
    height: 40px;
    border-bottom: 1px solid #c8c8c8;
}

.left_menu li:last-child
{
    border: none;
}
.left_menu li a
{
    display: inline-block;
    height: 39px;
    width: 100%;
    text-decoration: none;
    color: #656363;
    font: 13px OpenSansRegular,Arial,sans-serif;
    padding-top: 10px;
}
.left_menu li a:last-child
{
    height: 30px;
}

.left_menu li a:hover
{
    background: #f9f9f9;
}
.content
{
    width: 678px;
    height: 600px;
    margin-top: 0;
    float:right;
}
.content p
{
    margin-top: 40px;
    font: 13px OpenSansRegular,Arial,sans-serif;
}

footer
{
    height: 40px;
    margin: 60px 0;
    clear: both;
    background: #c1c1c1;
}
footer ul
{
    float: left;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}
footer li
{
    display: inline-block;
    padding: 0 25px;
}
footer li a
{
    display: inline-block;
    text-decoration: none;
    color: #2c2c2c;
    letter-spacing: normal;
    font: 13px/40px OpenSansRegular,Arial,sans-serif;
}
footer li a:hover
{
    text-decoration: underline;
}
footer p
{
    margin: 0 25px 0;
    float: right;
    color: #2c2c2c;
    font: 13px/40px OpenSansRegular,Arial,sans-serif;
}